<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #141b29">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Blazor ML5 Samples</a>

        <!-- Toggle button -->
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarLeftAlignExample"
                aria-controls="navbarLeftAlignExample"
                aria-expanded="false"
                aria-label="Toggle navigation"> 
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
            <!-- Left links -->
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Support</a>
                </li>
            </ul>
             <a class="text-white nav-link">
               <i class="fas fa-user "> Github </i>
             </a>

            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<style>
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    body {
        background-image: url(/img/synthwave.jpg)
    }
</style>