<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #141b29">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Blazor ML5 Samples</a>

        <!-- Toggle button -->
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarLeftAlignExample"
                aria-controls="navbarLeftAlignExample"
                aria-expanded="false"
                aria-label="Toggle navigation"> 
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
            <!-- Left links -->
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/neuralnet">Neural Network</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/ImageClassifier">Image Classifier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/SoundClassifier">Sound Classifier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/objectdetector">Object Detector</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/posenet">PoseNet</a>
                </li>
            </ul>
             <a class="nav-link" href="https://github.com/sps014/BlazorML5">
             Github</a>

            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<style>

    body {
        background-image: url(/img/synthwave.jpg)
    }
</style>