@page "/ImageClassifier"
@using ML5
@inject IJSRuntime Runtime

    <center>
        <p>Expected Image is :</p>
        <p style="font-weight:bolder">@Res</p>

        <video width="90%" height="60%" @ref="video"
               crossorigin="anonymous" autoplay
               src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/WeAreGoingOnBullrun.mp4">
        </video>
    </center>


@code
{
    ElementReference video;
    ML5.ImageClassifier classifier;
    private string Res;
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            classifier = new ML5.ImageClassifier(Runtime, ImageModel.MobileNet);
            classifier.OnModelLoad += ModelLoad;
            classifier.OnClassification += GetClassfy;
        }
        else
        {
            classifier.Classify(video);
        }

        base.OnAfterRender(firstRender);

    }

    private void ModelLoad()
    {
        classifier.Classify(video);
    }
    private void GetClassfy(string err, CResult[] res)
    {
        Res = res[0].label;
        StateHasChanged();
    }
}