@page "/"
@inject IJSRuntime Runtime

    <h2 style="font-weight:bold">Introduction </h2>
<p>
    BlazorML5 is an unofficial port of  ML5 machine Learning Library,
    you can use higher level API for Machine learning related task on Blazor.This Website contains 
    demo of each classes implemented.
    Currently the following 
    classes have been implemented with dependency on ML5:


    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Neural Network      ✔</li>
        <li class="list-group-item list-group-item-success">Image Classifier    ✔</li>
        <li class="list-group-item list-group-item-primary">Sound Classifier ✔</li>
        <li class="list-group-item list-group-item-info">Web Cam &nbsp;&emsp; &emsp; ✔</li>
    </ul>

    </p>
<br />
<br />
<h4>Documentation</h4>
<p>
    Visit
    <a href="https://github.com/sps014/BlazorML5/blob/master/README.md">here</a>
    for API documentation.
    <br />
    Visit <a href="https://learn.ml5js.org/docs/#/reference/index">here</a>
    for ML5 official Documentation.
</p>
<img src="https://raw.githubusercontent.com/ml5js/ml5-examples/development/javascript/ObjectDetector/YOLO_single_image/images/cat.JPG"
     crossorigin="anonymous" @ref="refer" />

@code
{
    ML5.ObjectDetector ObjectDetector;

    ElementReference refer { get; set; }

    protected override Task OnInitializedAsync()
    {
        ObjectDetector = new ML5.ObjectDetector(Runtime, ML5.ObjectDetectorModel.YOLO);
        ObjectDetector.OnModelLoad += Load;
        return base.OnInitializedAsync();
    }
    void Load()
    {
        Console.WriteLine("Loaded Successfully");
        ObjectDetector.OnDetection += Det;
        ObjectDetector.Detect(refer);
    }
    void Det(string err,ML5.ObjectResult[] res)
    {
        Console.WriteLine(res[0].label);
    }
}
