@page "/objectdetector"
@inject IJSRuntime Runtime

@if (Object != null)
{
    <h3>@Object.label</h3>
    <p>Bonding Box</p>
    <p>x=@Object.x</p>
    <p>y=@Object.y</p>
    <p>width=@Object.width</p>
    <p>height=@Object.height</p>
}
<img src="https://raw.githubusercontent.com/ml5js/ml5-examples/development/javascript/ObjectDetector/COCOSSD_single_image/images/cat2.JPG"
     crossorigin="anonymous" @ref="refer" />

@code
{
    ML5.ObjectDetector ObjectDetector;

    ElementReference refer { get; set; }

    ML5.ObjectResult Object { get; set; } 

    protected override Task OnInitializedAsync()
    {
        ObjectDetector = new ML5.ObjectDetector(Runtime, ML5.ObjectDetectorModel.YOLO);
        ObjectDetector.OnModelLoad += Load;
        return base.OnInitializedAsync();
    }
    void Load()
    {
        Console.WriteLine("Loaded Successfully");
        ObjectDetector.OnDetection += Det;
        ObjectDetector.Detect(refer);
    }
    async void Det(string err, ML5.ObjectResult[] res)
    {
        Object = res[0];
        StateHasChanged();
        Console.WriteLine(res[0].label);
    }
}
