@page "/objectdetector"
@inject IJSRuntime Runtime

<div id="box"
     style="
    position:absolute;
    left:@((int)Object.x)px;
    top:@((int)Object.y)px;
    width:@((int)Object.width)px;
    height:@((int)Object.height)px;
    border-radius:5px;
    border-color:greenyellow;
    background-color:transparent;
    z-index:2px
    ">

</div>
<img src="https://raw.githubusercontent.com/ml5js/ml5-examples/development/javascript/ObjectDetector/YOLO_single_image/images/cat.JPG"
     crossorigin="anonymous" @ref="refer" />

@code
{
    ML5.ObjectDetector ObjectDetector;

    ElementReference refer { get; set; }
    ML5.ObjectResult Object { get; set; } = new ML5.ObjectResult();

    protected override Task OnInitializedAsync()
    {
        ObjectDetector = new ML5.ObjectDetector(Runtime, ML5.ObjectDetectorModel.YOLO);
        ObjectDetector.OnModelLoad += Load;
        return base.OnInitializedAsync();
    }
    void Load()
    {
        Console.WriteLine("Loaded Successfully");
        ObjectDetector.OnDetection += Det;
        ObjectDetector.Detect(refer);
    }
    void Det(string err, ML5.ObjectResult[] res)
    {
        Object = res[0];
        StateHasChanged();
        Console.WriteLine(res[0].label);
    }
}
