@page "/SoundClassifier"
@inject IJSRuntime Runtime

<p>You can try saying One,Two...Nine </p>
<b>@Result</b>
<br />

@code 
{
    string Result;
    ML5.SoundClassifier classifier;
    protected override void OnInitialized()
    {
        classifier = new ML5.SoundClassifier(Runtime, ML5.SoundModel.SpeechCommands18w);
        classifier.OnModelLoad += ModelLoad;
        classifier.OnClassification += OnResult;
        base.OnInitialized();
    }
    private void ModelLoad()
    {
        classifier.Classify();
    }
    private void OnResult(string err,ML5.CResult[] res)
    {
        Result = res[0].label;
        StateHasChanged();
    }
}
