@page "/"
@inject IJSRuntime runtime
@using ML5

<div>
    <h1>No of wts supplied: @count</h1>
    <h4>Here are the weights</h4>
@foreach (var v in done)
{
    <p>@v</p>
}
</div>

@code
{    int count;
    List<string> done { get; set; } = new List<string>();
    protected async override void OnInitialized()
    {
        NeuralNetworkOptions option = new NeuralNetworkOptions()
        {
            inputs =2,
            outputs = 1,
            task="regression",
            activationHidden="sigmoid",
            activationOutput="linear",
            hiddenUnits=3,
            debug=true

        };
        NeuralNetwork net = new NeuralNetwork(runtime,option);

        for (int i = 0; i < 100; i++)
        {
            net.AddData(new double[] { i/100.0,i/200.0 }, new double[] { (i/100.0)*2 });
        }

        net.NormalizeData();
        net.Train(new TrainingOptions() {epochs=60 },false);

        net.OnTrainingComplete += async() =>
        {
            var Layers = await net.Layers;
            done.Clear();

            var wt = await Layers[0].GetWeights();
            var bias = await Layers[0].GetBias();

            for (var i=0;i<wt.Rows;i++)
            {
                for (var j = 0; j < wt.Columns; j++)
                {
                    done.Add(wt[i,j].ToString());
                }
            }
            wt=wt.Map((v) => { return v + 100; });
            Layers[0].SetWeights(wt,bias);
            StateHasChanged();
        };
    }
}