@page "/"
@inject IJSRuntime runtime
@inject HttpClient Http
@using ML5

 <p>Hello</p>
<img src="https://images-na.ssl-images-amazon.com/images/I/41Xe%2B6VIgtL.jpg" @ref="img" crossorigin="anonymous"/>
<p>@str</p>
@code
{   
    ElementReference img;
    string str;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ImageClassifier classifier = new ImageClassifier(runtime, ImageModel.MobileNet);
        classifier.OnModelLoad += () => {
            str = "Done Loading";
            StateHasChanged();
            classifier.OnClassification += (err, res) => { str = res[0].label; StateHasChanged(); };
            classifier.Classify(img);

        };
    }
}