@page "/"
@using BlazorML5
@using BlazorML5.Helpers
@using BlazorML5.Text
@inject IJSRuntime runtime

<PageTitle>Index</PageTitle>
<button @onclick="AddData">Add Data</button>
@code
{
    protected override async Task OnInitializedAsync()
    {
        await ML5.InitAsync(runtime);

       var  _sentiment =await Sentiment.CreateAsync();
        _sentiment.OnModelLoaded += async () =>
        {
            Console.WriteLine("Model Loaded");
            Console.WriteLine((await _sentiment.PredictAsync("here is some text")).Score);
        };
        
    }
    async void AddData()
    {
       
    }

}