@page "/ImageClassifier"
@using ML5
@inject IJSInProcessRuntime Runtime


<div class="container">
    <!--Section: Content-->
    <section class="p-5 my-md-0">
        <div class="row">
            <div class="col-md-12 mx-0">
                <!-- Material form login -->
                <div class="card text-white" style="background-color: #141b29">
                    <h4 class="card-header text-success" style="font-weight:bold">Image Classification </h4>
                    <!--Card content-->
                    <div class="card-body">
                        @if (loaded)
                        {
                            <center>
                                <p>In current frame AI sees :</p>
                                <div class="alert-primary" style="font-weight:bolder">@Res</div>
                                <br />
                                <video width="90%" height="60%" @ref="video"
                                       crossorigin="anonymous" autoplay
                                       src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/WeAreGoingOnBullrun.mp4">
                                </video>
                            </center>
                        }
                        else
                        {
                    <button class="btn btn-danger" type="button" disabled>
                        <span class="spinner-border spinner-border-sm"
                              role="status"
                              aria-hidden="true"></span>
                        Fetching Convolutional Model
                    </button>                     
                    <br />
                    <br />
                    }
                    </div>

                </div>
                <!-- Material form login -->
            </div>
        </div>

    </section>
    <!--Section: Content-->


</div>




@code
{
    ElementReference video;
    ML5.ImageClassifier classifier;
    private string Res;
    bool loaded;
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            classifier = new ML5.ImageClassifier(Runtime, ImageModel.MobileNet);
            classifier.OnModelLoad += ModelLoad;
            classifier.OnClassification += GetClassfy;
        }
        else
        {
            classifier.Classify(video);
        }

        base.OnAfterRender(firstRender);

    }

    private void ModelLoad()
    {
        loaded = true;
        StateHasChanged();
        classifier.Classify(video);
    }
    private void GetClassfy(string err, CResult[] res)
    {
        Res = res[0].label;
        StateHasChanged();
    }
}

<style>
    body {
        background-image: url(/img/synthwave.jpg)
    }
</style>