@page "/"
@inject IJSRuntime Runtime
@using ML5
@using ML5.WebCam

<button type="button" class="btn btn-primary" @onclick="Init" style="height:60px">Primary</button>
<video autoplay width="600" height="400" @ref="video"></video>
<h1>@Data</h1>

@code
{
    private ElementReference video;
    private string Data { get; set; }
    SoundClassifier classifier;
    void Init()
    {

        classifier=new SoundClassifier(Runtime, SoundModel.SpeechCommands18w);

        classifier.Classify();

        WebCam cam = new WebCam(Runtime);
        cam.Capture(video);
        //ImageClassifier classifier = new ImageClassifier(Runtime, "tm_model/model.json");
        classifier.OnModelLoad += () =>
        {
            Data = "Model Loaded";
            classifier.OnClassification += ClassifyResult;
            classifier.Classify(video);
        };

    }
    private void ClassifyResult(string err, CResult[] res)
    {
        Data = res[0].label;
        base.StateHasChanged();
    }
}