@page "/"

<h2 style="font-weight:bold">Introduction </h2>
<p>
    BlazorML5 is an unofficial port of  ML5 machine Learning Library,
    you can use higher level API for Machine learning related task on Blazor.This Website contains
    demo of each classes implemented.
    Currently the following
    classes have been implemented with dependency on ML5:


    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Neural Network&nbsp;✔</li>
        <li class="list-group-item list-group-item-success">Image Classifier    ✔</li>
        <li class="list-group-item list-group-item-primary">Sound Classifier ✔</li>
        <li class="list-group-item list-group-item-success">Object Detector&nbsp;  ✔</li>
        <li class="list-group-item list-group-item-primary">PoseNet  &emsp; &emsp; &emsp;✔</li>
        <li class="list-group-item list-group-item-info">Web Cam &nbsp;&emsp; &emsp; ✔</li>
    </ul>

</p>
<br />
<br />
<h4>Documentation</h4>
<p>
    Visit
    <a href="https://github.com/sps014/BlazorML5/blob/master/README.md">here</a>
    for API documentation.
    <br />
    Visit <a href="https://learn.ml5js.org/docs/#/reference/index">here</a>
    for ML5 official Documentation.
</p>
